.wrapper {
  .flex();
  width: 100%;
  flex: 0 0 50px;
  background-image: linear-gradient(to right, #e43 0, #ef3 20%, #d1a 40%, rgb(17, 143, 177) 60%, #2ee87565 80%, rgba(165, 149, 71, 0.591) 100%);
}