@import "@/styles/variables.less";

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color: white;
  font-size: 20px;
  line-height: 20px;
}

#root{
  background-color: #000;
}