.flex(){
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-style(@width:2px;@scrollColor:rgba(0,0,0,0.5);@borderRadius:0px){
  overflow: auto;
  ::-webkit-scrollbar {
    width: @width;
    height: @width;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: @scroll-color;
    border-radius: @borderRadius;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: darken(@scroll-color, 10%);
  }
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  ::-webkit-resizer {
    background-color: transparent;
  }
  ::-webkit-scrollbar-button {
    display: none;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb:vertical {
    background-color: @scroll-color;
  }
  ::-webkit-scrollbar-thumb:horizontal {
    background-color: @scroll-color;
  }
  ::-webkit-scrollbar-thumb:vertical:hover {
    background-color: darken(@scroll-color, 10%);
  }
  ::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: darken(@scroll-color, 10%);
  }
  ::-webkit-scrollbar-thumb:vertical:active {
    background-color: darken(@scroll-color, 20%);
  }
  ::-webkit-scrollbar-thumb:horizontal:active {
    background-color: darken(@scroll-color, 20%);
  }
  ::-webkit-scrollbar-thumb:vertical:window-inactive {
    background-color: lighten(@scroll-color, 20%);
  }
  ::-webkit-scrollbar-thumb:horizontal:window-inactive {
    background-color: lighten(@scroll-color, 20%);
  }
  
}
